.jumbotron{
	
     color: white;
     background-color: rgba(0,0,0,0.3);
     min-width: 800px;
}

.jumbotron h1 {
	color: #fff;
}

.fa-bus{
	color: yellow;
}
.panel{
	border-color: yellow;
	border-width: 3px;
}

h3{
	color: white;
}

h5 {
	font-weight: bold;
	color: yellow;
}
body {
        background: url("../images/unionstation.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
   }